.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#header {
    -fx-font-size: 24px;
}

.jfx-text-area, .jfx-text-field {
    -jfx-focus-color: #F47E26;
}

.grad-slider {
    -jfx-default-thumb: #5264AE;
}