#createSemesterButton {
    -jfx-button-type: RAISED;
    -fx-background-color: #F47E26;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-padding: 10px;
}

/*#createSemesterButton {
    -fx-border-radius: 0;
    -fx-border-color: #F47E26;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
    -fx-padding: 5px;
    -fx-font-size: 16px;
    -fx-text-fill: white;

}

#createSemesterButton:hover {
    -fx-cursor: pointer;
    -fx-background-color: #F47E26;
}

#sidebar, #scrollContainer, #semesterContainer {
    -fx-background-color: #333;
}

#splitPane {
    -fx-background-color: #333;
}*/